.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.voxel {
  border:2px solid black;
  height: 6rem;
  width: 6rem;
}

.voxel:hover {
  background-color: grey;
}

.voxel:focus {
  outline: none;
  box-shadow: none;
}
