.App {
  background-color: #0B0C10;
  min-height: 100vh;
}

.coordinate {
  color: red;
}

.voxel {
  background-color: rgb(241, 235, 235);
  border:2px solid #0B0C10;
  height: 6rem;
  width: 6rem;
}

.voxel:hover {
  background-color: #C5C6C7;
}

.voxel:focus {
  outline: none;
  box-shadow: none;
}

.output {
  background-color:rgb(241, 235, 235);
  border:2px solid #0B0C10;
  width: 6rem;
  min-height: 38.25rem;
  max-height: 38.25rem;
  min-width: 7.35rem;
}

.panel {
  max-width: 7.5rem;
}

.panel-button {
  min-width: 7.5rem;
  max-width: 7.5rem;
}

.picker {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.row {
  min-width: 42rem;
}

#coordinates {
  text-align: center;
}

#selected {
  background-color: #45A29E;
}

#selected:hover {
  background-color: #1F2833;
}